body {
  font-family: Arial;
  font-size: 20px;
}

.name {
  color: #2f4f4f;
  display: flex;
  justify-content: center;
}

.person {
  height: 340px;
  position: relative;
  padding: 12px 12px 0;
}

.photo {
  margin: 1px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  transition: 1s;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-template-rows: repeat(3,265px);
  grid-gap: 10px;
  justify-items: center;
}

.people {
  display: flex;
  justify-content: center;
}

.sport,
.pay {
  display: none;
  font-family: Arial;
  font-size: 18px;
  line-height: 21px;
  transition: all 1s;
}

.sport {
  margin-top: 15px;
}

.person:hover {
  background: #EEEEEE;
  border-radius: 12px;
  z-index: 1;
}

.rank {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  font-size: 16px;
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  color: #8B0000;
  position: absolute;
  top: 84px;
  right: 18px;
  border-radius: 30px;
}

.person:hover .sport {
  display: block;
  font-size: 18px;
  text-align: center;
}

.person:hover .pay {
  display: block;
  font-size: 18px;
  text-align: center;
}

.person:hover img {
  border-radius: 60px;
  width: 240px;
  height: 240px;
}

.person:hover .name{
  font-size: 24px;
}

@media (max-width: 750px) {
  .grid {
  grid-template-columns: repeat(2, 220px);
  grid-template-rows: repeat(5,260px);
  }
}